In [7]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense, Conv2D, MaxPooling2D, Dropout
from tensorflow.keras import regularizers
from tensorflow.keras.utils import to_categorical

import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.metrics import mean_absolute_error, mean_squared_error
import sklearn.preprocessing as preproc
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, ConfusionMatrixDisplay
from sklearn import metrics

from sklearn.model_selection import train_test_split

In [8]:
import numpy as np

# Easy method:  
np.exp([-2, -3, 0 ,1])/np.exp([-2, -3, 0 ,1]).sum()

array([0.03467109, 0.01275478, 0.25618664, 0.69638749])

In [10]:
df = pd.read_csv('shared/framingham.csv')
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4,0,0,0,0,0,0,195,106.0,70.0,26.97,80,77,0
1,0,46,2,0,0,0,0,0,0,250,121.0,81.0,28.73,95,76,0
2,1,48,1,1,20,0,0,0,0,245,127.5,80.0,25.34,75,70,0
3,0,61,3,1,30,0,0,1,0,225,150.0,95.0,28.58,65,103,1
4,0,46,3,1,23,0,0,0,0,285,130.0,84.0,23.10,85,85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3651,1,58,3,0,0,0,0,1,0,187,141.0,81.0,24.96,80,81,0
3652,1,68,1,0,0,0,0,1,0,176,168.0,97.0,23.14,60,79,1
3653,1,50,1,1,1,0,0,1,0,313,179.0,92.0,25.97,66,86,1
3654,1,51,3,1,43,0,0,0,0,207,126.5,80.0,19.71,65,68,0
3655,0,52,2,0,0,0,0,0,0,269,133.5,83.0,21.47,80,107,0

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import f1_score

In [13]:
X = df.drop('TenYearCHD', axis=1)
y = df['TenYearCHD']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [15]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
model = Sequential()
model.add(Dense(64, input_shape=(X_train.shape[1],), activation='relu'))
model.add(Dense(1, activation='sigmoid')) # è¾“å‡ºå±‚ä½¿ç”¨sigmoidæ¿€æ´»å‡½æ•°ï¼Œå› ä¸ºæ˜¯äºŒåˆ†ç±»é—®é¢˜

In [17]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.1)

Epoch 1/10
78/78 [==============================] - 1s 5ms/step - loss: 0.5276 - accuracy: 0.7949 - val_loss: 0.4118 - val_accuracy: 0.8727
Epoch 2/10
78/78 [==============================] - 0s 2ms/step - loss: 0.4152 - accuracy: 0.8452 - val_loss: 0.3867 - val_accuracy: 0.8727
Epoch 3/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3954 - accuracy: 0.8464 - val_loss: 0.3804 - val_accuracy: 0.8727
Epoch 4/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3875 - accuracy: 0.8476 - val_loss: 0.3800 - val_accuracy: 0.8691
Epoch 5/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3839 - accuracy: 0.8476 - val_loss: 0.3755 - val_accuracy: 0.8691
Epoch 6/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3802 - accuracy: 0.8508 - val_loss: 0.3764 - val_accuracy: 0.8655
Epoch 7/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3780 - accuracy: 0.8492 - val_loss: 0.3734 - val_accuracy: 0.8727
Epoch 8/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3767 - accuracy: 0.8516 - val_loss: 0.3769 - val_accuracy: 0.8655
Epoch 9/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8512 - val_loss: 0.3757 - val_accuracy: 0.8618
Epoch 10/10
78/78 [==============================] - 0s 2ms/step - loss: 0.3732 - accuracy: 0.8525 - val_loss: 0.3777 - val_accuracy: 0.8618

In [19]:
predictions = model.predict(X_test)
predictions = (predictions > 0.5).astype(int)

29/29 [==============================] - 0s 3ms/step

In [20]:
f1 = f1_score(y_test, predictions)
f1

0.17073170731707318

In [21]:
# Create classification report and confusion matrix
from sklearn.metrics import ConfusionMatrixDisplay
print(classification_report(y_true = y_test, y_pred = pred))

cm = confusion_matrix(y_test, pred)
ConfusionMatrixDisplay(confusion_matrix=cm).plot()

NameError: name 'pred' is not defined