In [8]:
import pandas as pd
df=pd.read_csv("shared/collegePlace.csv")
df

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1
...,...,...,...,...,...,...,...,...
2961,23,Male,Information Technology,0,7,0,0,0
2962,23,Male,Mechanical,1,7,1,0,0
2963,22,Male,Information Technology,1,7,0,0,0
2964,22,Male,Computer Science,1,7,0,0,0
2965,23,Male,Civil,0,8,0,0,1

In [5]:
most_common_value = df['Age'].value_counts().idxmax()

In [6]:
most_common_value

21

In [10]:
target_value = "Female"
count = (df['Gender'] == target_value).sum()

In [11]:
count

491

In [14]:
target_value1=1
count = (df['Hostel'] == target_value1).sum()
count

798

In [16]:
filtered_df = df[(df['Gender'] == 'Female') & (df['Hostel'] == 1)]
filtered_df

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
1,21,Female,Computer Science,0,7,1,1,1
9,21,Female,Computer Science,1,6,1,0,0
12,21,Female,Computer Science,2,6,1,1,0
16,22,Female,Computer Science,1,7,1,0,0
52,21,Female,Computer Science,1,8,1,0,1
...,...,...,...,...,...,...,...,...
2918,21,Female,Computer Science,1,8,1,0,1
2927,22,Female,Computer Science,1,8,1,0,1
2928,22,Female,Computer Science,0,6,1,0,0
2929,23,Female,Computer Science,0,6,1,0,0
2950,23,Female,Computer Science,1,8,1,0,1

In [18]:
len(filtered_df)/491

0.4684317718940937

In [19]:
correlation = df['Internships'].corr(df['CGPA'])
correlation

0.023495693727057423

In [20]:
correlation = df['Age'].corr(df['PlacedOrNot'])
correlation

0.04694251436613455

In [22]:
unique_values = df['Stream'].unique()
unique_values

array(['Electronics And Communication', 'Computer Science',
       'Information Technology', 'Mechanical', 'Electrical', 'Civil'],
      dtype=object)

In [36]:
max_rate = 0
max_major = ""
for major in unique_values:
    count = (df['Stream'] == major).sum()
    #print("major " + major + "has " + str(count) + " students")
    filtered_df = df[(df['Stream'] == major) & (df['PlacedOrNot'] == 1)]
    len(filtered_df)
    #print("pr" + major + str(len(filtered_df)))
    placement_rate = len(filtered_df) / count
    print(major + str(placement_rate))
    
    if placement_rate > max_rate:
        max_rate = placement_rate
        max_major = major
max_major

Electronics And Communication0.5919811320754716
Computer Science0.5824742268041238
Information Technology0.5918958031837916
Mechanical0.4716981132075472
Electrical0.5419161676646707
Civil0.4605678233438486

'Electronics And Communication'

In [49]:
max_rate = 0
max_major = ""
for major in unique_values:
    filtered_df1 = df[(df['Stream'] == major) & (df['Gender'] == "Female")]
    count = len(filtered_df1)
    #print("major " + major + "has " + str(count) + " students")
    filtered_df = df[(df['Stream'] == major) & (df['PlacedOrNot'] == 1) & (df['Gender'] == "Female")]
    len(filtered_df)
    #print("pr" + major + str(len(filtered_df)))
    placement_rate = len(filtered_df) / count
    print(major + str(placement_rate))
    
    if placement_rate > max_rate:
        max_rate = placement_rate
        max_major = major
max_major

Electronics And Communication0.6363636363636364
Computer Science0.5759493670886076
Information Technology0.5869565217391305
Mechanical0.3333333333333333
Electrical0.58
Civil0.41379310344827586

'Electronics And Communication'

In [54]:
filtered_df = df[(df['Gender'] == 'Female') & (df['PlacedOrNot'] == 1)]
count = (df['Gender'] == 'Female').sum()
len(filtered_df) / count

0.560081466395112

In [63]:
filtered_df1 = df[(df['Gender'] == 'Female')]
column1_mean = filtered_df1['CGPA'].mean()
print(column1_mean)
filtered_df2 = df[(df['Gender'] == 'Male')]
column2_mean = filtered_df2['CGPA'].mean()
print(column2_mean)

7.081466395112017
7.072323232323233

In [68]:
count = (df['Internships'] == 0).sum()
len(df)
complete_at_last_1_internship = len(df) - count
complete_at_last_1_internship

1635